<div class = "template-select-main">
  <div class="title-content">
  テンプレートを選択してください
  </div>
  <%= form_with url: template_orders_path(@order.id),class: 'template-exhibit', local: true do |f| %>
    <div class="category-select">
    <ul class="template-category">
      <div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 2 %>美容 ・健康</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 3 %>コンサルティング</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 4 %>サービス</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 5 %>アート ・デザイン</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 6 %>写真・ポートフォリオ</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 7 %>ネットショップ</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 8 %>バー・レストラン</div>
      </div>
      <div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 9 %>観光事業</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 10 %>住まい・ガーデン</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 11 %>ファッション</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 12 %>コミュニティ・クラブ</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 13 %>個人向け</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 14 %>ブログ</div>
        <div class="cotegory-list"><%= f.radio_button :category_id, 15 %>その他</div>
      </div>
    </ul>
  </div>
  <div class="order-message">
    <%= f.text_area :order_message,width: 100, class:"web-order-text", id:"order-name", placeholder:"注文内容（500文字以内）", maxlength:"500" %>
  </div>
  <div class="order-note">
    <span class="note-heading">注意書き</span>
    <div class="note">
    下記をご承知の注文を確定してください
    </div>
    </div>
    <div class="first-note">
    1、注文を2つ以上することはできません。
    </div>
    <div class="second-note">
    2、製作者が注文作成し始めた時から注文の編集、削除ができなくなります。（編注に関してはチャット機能でお伝えください。）
    </div>
  </div>
  
  <div class="continue">
     <%= f.submit "注文確定" ,class:"continue-order" %>
  </div>
  <% end %>
</div>